@model projeto_final.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner-bf.jpg" alt="ASP.NET" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="https://www.placecage.com/960/350" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="http://placekitten.com/960/350" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="product-list" class="row">
    @foreach (var produto in Model.Produtos)
    {
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="https://www.placecage.com/242/200" alt="Imagem produto">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => produto.Nome)</h3>
                    <p>
                        @Html.DisplayFor(modelItem => produto.Descricao)
                    </p>
                    <p class="price">
                        @Html.DisplayFor(modelItem => produto.Preco)
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary buy" role="button">Comprar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
